@model LoginViewModel

<div class="text-right  col-10 jumbotron shadow-lg box-signInLogin">
    <h2 class="text-highweight">ورود ادمین</h2>
    <form method="post" asp-controller="Home" asp-action="AdminLogin">
        <a asp-controller="Home" asp-action="UserLogin" class="nav-link text-dark alert alert-indigo text-muted fontface" style="float: left">ورود کاربر</a>
        <div asp-validation-summary="ModelOnly" class=""> </div>
        <span class="text-danger">@ViewData["NotFound"]</span> 
        <div class="form-group">
            <label asp-for="Name" class="">نام</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group ">
            <label asp-for="Password" class="">رمز عبور</label>
            <input asp-for="Password" type="text" class="form-control" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">ورود</button>
        <a asp-controller="Home" asp-action="AdminSignIn" class="nav-link text-dark alert alert-success text-muted fontface" style="float: left">حساب ندارید؟ ثبت نام</a>
    </form>
</div>